<nav>
    <div class="sub-title">
        <a href="/">
            <h1>Blog Heros</h1>
        </a>
        <p>A net hero site</p>
    </div>
    <ul>
        <li>
            <a href="/">Blogs</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blogs/create">
                New blog
            </a>
        </li>
    </ul>
</nav>