<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Heros | </title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blog content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam velit eum nemo dolores dolor, id repellendus molestiae error. Modi, debitis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam velit eum nemo dolores dolor, id repellendus molestiae error. Modi, debitis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam velit eum nemo dolores dolor, id repellendus molestiae error. Modi, debitis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam velit eum nemo dolores dolor, id repellendus molestiae error. Modi, debitis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam velit eum nemo dolores dolor, id repellendus molestiae error. Modi, debitis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam velit eum nemo dolores dolor, id repellendus molestiae error. Modi, debitis?</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>